

.startButtons {
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

label {
    font-family: sans-serif;
    text-decoration: underline;
    font-variant-caps: small-caps;
    font-size: 20pt;
    display: flex;
    justify-content: center;
}

body {
    background-color: lightgray;
}

.btns-container {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 10px black;
}

#up {
    background-image: url(./3388_Upvote.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: black;
}

#down {
    background-image: url(./2886-downvote.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: black;
}

.deleteBtn {
    height: 50px;
    width: 50px;
    margin: 2px;
    background-color: black;
    color:aliceblue;
}

p {
    font-size: 12pt;
    font-family: monospace;
    
}